<%- include("partials/header") %>


<div class="content">
    <h2 class="heading">VIRTUAL BANKING</h2>
</div>

<div class="content">
    <h4 class="heading">Developed by S.Sanyasi Raju</h4>
    <p>Transfer the money simply without any contact with your family,friends,customers <br>In a more secure way and fast  </p>

</div>


<div class="content">
    <h5 class="heading">Now transfer money on  one click</h5>
</div>

<%- include("partials/footer") %>
