<%- include("partials/header") %>



<style>
    h2 {text-align: center;font-style: oblique;}
    h4 {text-align: center;font-style: oblique;}
    h5 {text-align: center;font-style: oblique;}
    p {text-align: center;font-weight:normal;font:size 60px;}
</style>
<div class="content">
    <h2 class="heading ">VIRTUAL BANKING</h2>
</div>

<div class="content">
    <h4 class="heading">Developed by S.Sanyasi Raju</h4>
    <p class="bio">Transfer the money simply without any contact with your family,friends,customers <br>In a more secure way and fast  </p>

</div>


<div class="content">
    <h5 class="heading">One Click,Job done</h5>
</div>

<%- include("partials/footer") %>
