@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/background.jpg ");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  height: 4rem;
  background-color: #02040f;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
  padding: 1.36rem;
}

.link a {
  text-decoration: none;
  font-family: "Arvo", serif;
}

.link1 a {
  color: white;
  border: 3px solid #ff7a59;
}

.link2 a {
  color: white;
  border: 3px solid #ff7a59;
}

.link3 a {
  color: white;
  border: 3px solid #ff7a59;
}

.link1:hover {
  border: 3px dotted #ff7a59;
  color: #ff7a59;
  background: #fff;
  transform: skew(-20deg);
}
.bio {
  text-align: center;
  position: relative;
  margin-left: 150px;
  margin-top: 20px;
}

.link2:hover {
  color: black;
  background-color: #43ee5a;
  transform: skew(-20deg);
}

.link3:hover {
  color: black;
  background-color: #e6fc20;
  transform: skew(-20deg);
}

.fromto {
  text-align: center;
  margin-top: 230px;
}

li:hover a {
  color: inherit;
}

.brand {
  font-family: "Caveat", cursive;
  color: blanchedalmond;
  padding-top: 1rem;
}
.container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.btn {
  margin: 2rem;
  padding: 0.75rem;
  font-size: 2rem;
  background-color: #420032;
  border-radius: 5%;
}

.btn a {
  text-decoration: none;
  color: #f7fe72;
  font-family: "Roboto Slab", serif;
}

.btn:hover {
  background-color: #02040f;
}

.btn:hover a {
  color: blanchedalmond;
}

.content {
  margin-top: 4rem;
  margin-left: 24%;
  max-width: 50vw;
}

.heading {
  margin-left: 25%;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}

.main-content {
  margin-top: 2rem;
  font-family: "Roboto Slab", serif;
  font-weight: 550;
  font-size: 1.5rem;
  padding: 0 25%;
}
.main-content2 {
  margin-top: 2rem;
  font-family: "Roboto Slab", serif;
  font-weight: 550;
  font-size: 1.5rem;
  padding: 0 38%;
}

.table {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  font-family: "Roboto Slab", sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #02040f;
  text-align: left;
  padding: 8px;
}

.error {
  position: relative;
  text-align: center;
  margin-top: 350px;
  margin-bottom: 230px;
}

.view-header {
  margin-top: 1rem;
  font-family: "Arvo", serif;
  margin-left: 40%;
}

.select-btn {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.2rem;
  background-color: #ffffff;
}

.select-btn a {
  text-decoration: none;
  color: #000000;
}
.transfer-header {
  margin-top: 1rem;
  font-family: "Arvo", serif;
  margin-left: 44%;
}

.transfer-btn {
  font-family: "Comic Neue", cursive;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.2rem;
  background-color: #5ed726;
}

.transfer-btn a {
  text-decoration: none;
  color: #02040f;
}

.transfer-btn:hover {
  background-color: #4361ee;
}

.transfer-btn:hover a {
  color: #02040f;
}

.form-body1 {
  margin-top: 1rem;
  margin-left: 35%;
  margin-right: 33%;
  font-family: "Comic Neue", cursive;
  font-size: 1.5rem;
}

.form-body1 h1 {
  color: #000000;
}

.form-body2 {
  margin-top: 1rem;
  margin-left: 35%;
  margin-right: 33%;
  font-family: "Comic Neue", cursive;
  font-size: 1.5rem;
}

.form-body2 h1 {
  color: #000000;
}

.form {
  margin-top: 3rem;
  margin-left: 35%;
}

.form label {
  font-family: "Arvo", serif;
  font-size: 1.5rem;
}

.form input {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.transfer2-btn {
  margin: 0.5rem 0 0 15%;
  font-family: "Comic Neue", cursive;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.2rem;
  background-color: #000000;
  color: whitesmoke;
}

.transfer2-btn:hover {
  background-color: #19bb6a;
  color: #02040f;
}

.history-header {
  margin-top: 1rem;
  font-family: "Arvo", serif;
  margin-left: 35%;
}
p {
  font-size: 40px;
  font-style: oblique;
}
